/Hardware/pcb/__Previews
/Hardware/pcb/History
/Hardware/pcb/Project Logs for PortableSDVX
/Hardware/pcb/Project Outputs for PortableSDVX
/Firmware/.vscode
/Firmware/Listings
/Firmware/Objects
/Firmware/portablesdvx.uvgui.tjljw
/debug.log
