/Hardware/PCB/__Previews
/Hardware/PCB/History
/Hardware/PCB/Project Logs for PortableSDVX
/Hardware/PCB/Project Outputs for PortableSDVX
/Firmware/
/Firmware/Listings
/Firmware/Objects
/Firmware/portablesdvx.uvgui.tjljw
/debug.log
/.vscode